<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706135511077-g3n9h7sq7etitfkvqa00tgrkvb7vuudp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706135511077-g3n9h7sq7etitfkvqa00tgrkvb7vuudp</string>
	<key>API_KEY</key>
	<string>AIzaSyD_ndGv-O4WqBXa53ne8GoUr_aKjFNIZaE</string>
	<key>GCM_SENDER_ID</key>
	<string>706135511077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoFlutter</string>
	<key>PROJECT_ID</key>
	<string>proyectoflutter-d7254</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectoflutter-d7254.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706135511077:ios:d38203da99e9934b096fcc</string>
	<key>DATABASE_URL</key>
	<string>https://proyectoflutter-d7254.firebaseio.com</string>
</dict>
</plist>